.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.red {
  color: red;
}

input, button, select {
  padding: 5px;
  border-radius: 5px;
  background-color: none;
  border: 1px solid grey;
} 